rohabs/comments/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="service">
	<xs:complexType>
	    <xs:sequence>
	        <xs:element name="booking" maxOccurs="unbounded">
	        	<xs:complexType>
				    <xs:sequence>
						<xs:element name="id" type="xs:integer"/>
						<xs:element name="name" type="xs:string"/>
				        <xs:element name="comment" type="xs:string"/>
				    </xs:sequence>
				</xs:complexType>
	        </xs:element>
	    </xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>